[Unit]
Description=Hdmi Backlight via Leds

[Service]
Type=simple
ExecStart=/home/pi/hdmi-backlight.sh
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
